<a href="https://colab.research.google.com/github/benjamin-ravenscroft/CISC474-Project/blob/main/Trading_RL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1. Import packages

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime

# first install yahoo finance
!pip install yfinance
!pip install yahoofinancials
import yfinance as yf
from yahoofinancials import YahooFinancials
!pip install stockstats # used to calculate technical indicators
import stockstats

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: yfinance in /usr/local/lib/python3.7/dist-packages (0.1.87)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.21.6)
Requirement already satisfied: requests>=2.26 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.28.1)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.9.1)
Requirement already satisfied: appdirs>=1.4.4 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.4.4)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2022.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: charset-normalizer<3,>=2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.1.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2022.9.24)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: yahoofinancials in /usr/local/lib/python3.7/dist-packages (1.6)
Requirement already satisfied: pytz in /usr/local/lib/python3.7/dist-packages (from yahoofinancials) (2022.6)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (from yahoofinancials) (4.6.3)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting stockstats
  Downloading stockstats-0.5.1-py2.py3-none-any.whl (20 kB)
Requirement already satisfied: pandas>=0.24.2 in /usr/local/lib/python3.7/dist-packages (from stockstats) (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.2->stockstats) (2022.6)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.2->stockstats) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.2->stockstats) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.2->stockstats) (1.15.0)
Installing collected packages: stockstats
Successfully installed stockstats-0.5.1

#

#2. Download Financial Data

In [ ]:
data = yf.download(
  tickers = "AXP AMGN AAPL BA CAT CSCO CVX GS HD HON IBM INTC JNJ KO JPM MCD MMM MRK MSFT NKE PG TRV UNH CRM VZ V WBA WMT DIS DOW", # Dow Jones 30 Tickers
  start="2008-01-01",
  end = "2022-11-30",
  interval="1d",
  ignore_tz=True,
  group_by='ticker',
  auto_adjust= True,
  repair=True,
  prepost=False,
  threads=True,
  proxy=None
)

[*********************100%***********************]  30 of 30 completed

In [ ]:
data.head()

                AAPL                                                   BA  \
                Open      High       Low     Close      Volume       Open
Date
2008-01-02  6.066476  6.096615  5.861896  5.931611  1079178800  64.177873
2008-01-03  5.948964  6.009242  5.866157  5.934350   842066400  63.811413
2008-01-04  5.828406  5.875594  5.446036  5.481350  1455832000  63.261781
2008-01-07  5.517884  5.589426  5.182396  5.407983  2072193200  63.210456
2008-01-08  5.484092  5.554722  5.199750  5.213450  1523816000  60.909255

                                                      ...        NKE  \
                 High        Low      Close   Volume  ...       Open
Date                                                  ...
2008-01-02  64.375747  63.027259  63.481644  4303000  ...  13.339365
2008-01-03  64.229151  63.569563  63.745457  3427900  ...  13.123677
2008-01-04  63.877399  62.800072  62.895344  5393400  ...  12.907994
2008-01-07  63.247102  60.220325  60.733341  9961800  ...  12.858216
2008-01-08  61.099804  58.373507  58.564056  9810600  ...  12.941172

                                                             UNH             \
                 High        Low      Close    Volume       Open       High
Date
2008-01-02  13.418173  13.003392  13.123678   9781600  47.164085  47.716629
2008-01-03  13.221151  12.937026  13.005465  10636000  46.801224  47.246558
2008-01-04  13.040724  12.796003  12.804298  22335200  46.644541  46.949676
2008-01-07  12.924581  12.713042  12.881029  20808400  45.803346  47.098111
2008-01-08  13.061459  12.762816  12.822960  16714400  47.048633  47.403250


                  Low      Close   Volume
Date
2008-01-02  46.562060  46.735245  7698700
2008-01-03  46.611546  46.949669  4864000
2008-01-04  46.133230  46.182713  7250600
2008-01-07  45.803346  46.908432  6093200
2008-01-08  46.166214  46.355892  8142700

[5 rows x 150 columns]

In [ ]:
data.shape

(3755, 150)

There is OHLCV (Open, High, Low, Close, Volume) data for 30 stocks = 150 columns, and 3502 days (rows)

# 3. Preprocess Data

Important steps:

1. Check for missing data

2. Add chosen technical indicators to use as features

In [ ]:
data_copy = data.copy()

In [ ]:
ticker_list = ['AXP', 'AMGN', 'AAPL', 'BA', 'CAT', 'CSCO', 'CVX', 'GS', 'HD', 'HON', 'IBM', 'INTC', 'JNJ', 'KO', 'JPM', 'MCD', 'MMM', 'MRK', 'MSFT', 'NKE', 'PG', 'TRV', 'UNH', 'CRM', 'VZ', 'V', 'WBA', 'WMT', 'DIS', 'DOW']

In [ ]:
def add_indicators_reshape_df(ticker_list, indicator_list):
  stock_df_list = []
  for i in ticker_list:
    temp = data_copy[i]
    temp['tick'] = i
    stock_df_list.append(temp)

  new_df = pd.concat(stock_df_list, sort=False).sort_index()
  new_df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

                  Open        High         Low       Close      Volume tick
Date
2008-01-02   40.999953   41.180985   39.976725   40.173500   8053700.0  AXP
2008-01-02   34.043740   34.201716   33.361572   33.677525  19918600.0  WMT
2008-01-02   64.473485   64.473485   61.622198   61.929806   9940661.0  IBM
2008-01-02   27.419730   27.682730   26.885249   27.012506   9269900.0  DIS
2008-01-02   47.164085   47.716629   46.562060   46.735245   7698700.0  UNH
...                ...         ...         ...         ...         ...  ...
2022-11-29   38.020000   38.369999   37.950001   38.340000  14007600.0   VZ
2022-11-29  209.350006  210.149994  207.350006  209.059998   8986500.0    V
2022-11-29   40.900002   41.209999   40.630001   41.080002   3212500.0  WBA
2022-11-29   62.520000   62.570000   61.980000   62.480000  10967800.0   KO
2022-11-29   50.250000   50.825001   49.880001   50.650002   4904400.0  DOW

[112650 rows x 6 columns]

Test

In [ ]:
ex = data['BA']
ex['tick'] = 'BA'

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
from stockstats import wrap

df = wrap(ex)
df[['macd', 'rsi']]

                macd         rsi
Date
2008-01-02  0.000000         NaN
2008-01-03  0.005919  100.000000
2008-01-04 -0.018820   22.369941
2008-01-07 -0.107669    7.155745
2008-01-08 -0.240002    4.124582
...              ...         ...
2022-11-22  8.609049   66.803305
2022-11-23  8.398676   68.843452
2022-11-25  8.418143   71.646294
2022-11-28  7.816549   60.705077
2022-11-29  7.534543   63.879893

[3755 rows x 2 columns]

In [ ]:
d=pd.DataFrame(df['macd'])

In [ ]:
a = ex.merge(df['macd'], how="left")
a.set_index(ex.index, inplace=True)

In [ ]:
a

,open,high,low,close,volume,tick,macd,macds,macdh,rs_14,rsi
Date,,,,,,,,,,,
2008-01-02,64.177873,64.375747,63.027259,63.481644,4303000,BA,0.000000,0.000000,0.000000,NaN,NaN
2008-01-03,63.811413,64.229151,63.569563,63.745457,3427900,BA,0.005919,0.003288,0.002631,inf,100.000000
2008-01-04,63.261781,63.877399,62.800072,62.895344,5393400,BA,-0.018820,-0.005773,-0.013048,0.288161,22.369941
2008-01-07,63.210456,63.247102,60.220325,60.733341,9961800,BA,-0.107669,-0.040290,-0.067379,0.077073,7.155745
2008-01-08,60.909255,61.099804,58.373507,58.564056,9810600,BA,-0.240002,-0.099700,-0.140302,0.043020,4.124582
...,...,...,...,...,...,...,...,...,...,...,...
2022-11-22,173.649994,174.990005,171.000000,172.500000,4370600,BA,8.609049,8.378909,0.230140,2.012348,66.803305
2022-11-23,172.089996,175.000000,171.770004,174.850006,3523500,BA,8.398676,8.382862,0.015814,2.209598,68.843452
2022-11-25,174.350006,178.460007,174.029999,178.360001,3476900,BA,8.418143,8.389918,0.028224,2.526876,71.646294
2022-11-28,176.169998,177.139999,171.699997,171.830002,5355500,BA,7.816549,8.275245,-0.458695,1.544858,60.705077
2022-11-29,172.880005,175.949997,172.559998,175.320007,5071900,BA,7.534543,8.127104,-0.592561,1.768541,63.879893

In [ ]:
data_c = data.copy()

In [ ]:
a = data_c['AAPL']
a['tick'] = 'AAPL'
b = data_c['AMGN']
b['tick'] = 'AMGN'

new = pd.concat([a,b], sort=False).sort_index()

new.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

                 Open       High        Low      Close      Volume  tick
Date
2008-01-02   6.066476   6.096615   5.861896   5.931611  1079178800  AAPL
2008-01-02  34.931568  35.261396  34.676703  34.931568     7934400  AMGN
2008-01-03   5.948964   6.009242   5.866157   5.934350   842066400  AAPL
2008-01-03  34.804148  35.306382  33.919614  34.249439    11976300  AMGN
2008-01-04   5.828406   5.875594   5.446036   5.481350  1455832000  AAPL

In [ ]:
l = []
for i in ticker_list:
  d = data_c[i]
  d['tick'] = i
  l.append(d)

l

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

[                  Open        High         Low       Close    Volume tick
 Date
 2008-01-02   40.999953   41.180985   39.976725   40.173500   8053700  AXP
 2008-01-03   40.299432   40.535561   39.512334   39.677624   7753200  AXP
 2008-01-04   39.347060   39.347060   38.339572   38.678024   8501400  AXP
 2008-01-07   38.984983   39.433628   38.245111   38.851177  14031100  AXP
 2008-01-08   39.118793   39.118793   37.591821   37.741371  11721000  AXP
 ...                ...         ...         ...         ...       ...  ...
 2022-11-22  154.100006  155.149994  153.289993  154.580002   2124600  AXP
 2022-11-23  153.830002  154.990005  152.880005  153.929993   1404400  AXP
 2022-11-25  153.520004  154.470001  153.169998  154.149994    665800  AXP
 2022-11-28  152.690002  153.779999  150.369995  150.869995   1782900  AXP
 2022-11-29  150.960007  154.470001  150.529999  154.419998   2655400  AXP

 [3755 rows x 6 columns],
                   Open        High         Low       Close    Volume  tick
 Date
 2008-01-02   34.931568   35.261396   34.676703   34.931568   7934400  AMGN
 2008-01-03   34.804148   35.306382   33.919614   34.249439  11976300  AMGN
 2008-01-04   34.699199   34.699199   33.432365   33.582287  10310400  AMGN
 2008-01-07   33.514835   34.301920   33.394898   34.024567   8529200  AMGN
 2008-01-08   34.271928   35.943546   33.994572   34.729187  20974900  AMGN
 ...                ...         ...         ...         ...       ...   ...
 2022-11-22  288.010010  289.399994  283.519989  287.049988   3636000  AMGN
 2022-11-23  287.440002  289.540009  281.600006  283.399994   2875600  AMGN
 2022-11-25  281.950012  285.570007  281.410004  283.739990   1220700  AMGN
 2022-11-28  285.000000  288.279999  282.190002  282.619995   2375900  AMGN
 2022-11-29  283.380005  283.380005  279.679993  281.989990   2135000  AMGN

 [3755 rows x 6 columns],
                   Open        High         Low       Close      Volume  tick
 Date
 2008-01-02    6.066476    6.096615    5.861896    5.931611  1079178800  AAPL
 2008-01-03    5.948964    6.009242    5.866157    5.934350   842066400  AAPL
 2008-01-04    5.828406    5.875594    5.446036    5.481350  1455832000  AAPL
 2008-01-07    5.517884    5.589426    5.182396    5.407983  2072193200  AAPL
 2008-01-08    5.484092    5.554722    5.199750    5.213450  1523816000  AAPL
 ...                ...         ...         ...         ...         ...   ...
 2022-11-22  148.130005  150.419998  146.929993  150.179993    51804100  AAPL
 2022-11-23  149.449997  151.830002  149.339996  151.070007    58301400  AAPL
 2022-11-25  148.309998  148.880005  147.119995  148.110001    35195900  AAPL
 2022-11-28  145.139999  146.639999  143.380005  144.220001    69246000  AAPL
 2022-11-29  144.289993  144.809998  140.350006  141.169998    83679400  AAPL

 [3755 rows x 6 columns],
                   Open        High         Low       Close   Volume tick
 Date
 2008-01-02   64.177873   64.375747   63.027259   63.481644  4303000   BA
 2008-01-03   63.811413   64.229151   63.569563   63.745457  3427900   BA
 2008-01-04   63.261781   63.877399   62.800072   62.895344  5393400   BA
 2008-01-07   63.210456   63.247102   60.220325   60.733341  9961800   BA
 2008-01-08   60.909255   61.099804   58.373507   58.564056  9810600   BA
 ...                ...         ...         ...         ...      ...  ...
 2022-11-22  173.649994  174.990005  171.000000  172.500000  4370600   BA
 2022-11-23  172.089996  175.000000  171.770004  174.850006  3523500   BA
 2022-11-25  174.350006  178.460007  174.029999  178.360001  3476900   BA
 2022-11-28  176.169998  177.139999  171.699997  171.830002  5355500   BA
 2022-11-29  172.880005  175.949997  172.559998  175.320007  5071900   BA

 [3755 rows x 6 columns],
                   Open        High         Low       Close   Volume tick
 Date
 2008-01-02   47.810797   47.883278   46.156927   46.539093  6337800  CAT
 2008-01-03   46.789482   47.105758   46.084444   46.374363  4385900  CAT
 2008-01-04   45.893362   46.084448   44.872043   45.155376  7697200  CAT
 2008-01-07   45.465071   45.550728   44.674376   45.287167  8790400  CAT
 2008-01-08   45.425527   45.787927   44.173590   44.246071  7662300  CAT
 ...                ...         ...         ...         ...      ...  ...
 2022-11-22  234.000000  237.479996  233.360001  237.259995  2523300  CAT
 2022-11-23  237.630005  239.630005  235.610001  236.919998  2311300  CAT
 2022-11-25  237.000000  237.490005  235.190002  235.699997  1034800  CAT
 2022-11-28  233.940002  234.960007  231.570007  232.300003  2862100  CAT
 2022-11-29  233.300003  235.729996  231.550003  235.119995  2276600  CAT

 [3755 rows x 6 columns],
                  Open       High        Low      Close    Volume  tick
 Date
 2008-01-02  19.173511  19.386549  18.612507  18.846851  64338900  CSCO
 2008-01-03  18.747434  19.187715  18.676420  18.995979  50360100  CSCO
 2008-01-04  18.726124  19.123796  18.470477  18.548592  56897400  CSCO
 2008-01-07  18.534390  18.733225  18.236135  18.555693  54431100  CSCO
 2008-01-08  18.719022  19.024378  18.051500  18.058601  61248800  CSCO
 ...               ...        ...        ...        ...       ...   ...
 2022-11-22  48.000000  48.419998  47.759998  48.380001  16367800  CSCO
 2022-11-23  48.400002  48.990002  48.320000  48.570000  12065600  CSCO
 2022-11-25  48.750000  49.049999  48.349998  48.400002   8492600  CSCO
 2022-11-28  48.290001  48.470001  47.919998  48.080002  14976600  CSCO
 2022-11-29  48.250000  48.410000  47.840000  48.279999  13779300  CSCO

 [3755 rows x 6 columns],
                   Open        High         Low       Close    Volume tick
 Date
 2008-01-02   52.506467   52.914405   51.807945   52.227058   9058000  CVX
 2008-01-03   52.417080   52.998246   52.227080   52.869720  10479200  CVX
 2008-01-04   52.461772   53.205000   52.081776   52.165600  13103800  CVX
 2008-01-07   52.383564   52.383564   50.936229   51.483868  12892200  CVX
 2008-01-08   51.640337   52.182386   50.617699   50.824459  10987700  CVX
 ...                ...         ...         ...         ...       ...  ...
 2022-11-22  183.750000  186.559998  183.080002  185.889999   9018000  CVX
 2022-11-23  183.210007  185.149994  182.580002  184.240005   5831200  CVX
 2022-11-25  184.889999  185.300003  183.309998  183.699997   2796400  CVX
 2022-11-28  180.279999  181.470001  177.960007  178.360001   9365500  CVX
 2022-11-29  180.259995  181.850006  179.649994  181.029999   6984700  CVX

 [3755 rows x 6 columns],
                   Open        High         Low       Close    Volume tick
 Date
 2008-01-02  172.324170  172.524733  165.745689  166.547943   9573500   GS
 2008-01-03  167.606939  167.703205  163.772165  164.333740   7751700   GS
 2008-01-04  161.253056  163.659818  159.078942  160.394638  10157900   GS
 2008-01-07  160.635344  160.651392  152.420269  156.222946  16044400   GS
 2008-01-08  157.089319  160.049638  151.625973  152.027100  13553700   GS
 ...                ...         ...         ...         ...       ...  ...
 2022-11-22  381.399994  385.829987  381.399994  383.869995   2019400   GS
 2022-11-23  383.899994  388.200012  383.410004  386.250000   1865400   GS
 2022-11-25  385.760010  389.440002  385.179993  388.859985   1129300   GS
 2022-11-28  385.429993  388.390015  380.890015  382.359985   2232200   GS
 2022-11-29  381.130005  384.929993  379.260010  383.709991   1746500   GS

 [3755 rows x 6 columns],
                   Open        High         Low       Close    Volume tick
 Date
 2008-01-02   18.665301   18.761621   17.901627   17.963547  16560700   HD
 2008-01-03   18.052981   18.204339   17.750263   17.764023  14635500   HD
 2008-01-04   17.585143   17.660823   17.034748   17.172346  19772000   HD
 2008-01-07   17.241148   17.757144   17.151710   17.454428  20682400   HD
 2008-01-08   17.578264   17.750262   16.972829   17.020988  15488100   HD
 ...                ...         ...         ...         ...       ...  ...
 2022-11-22  320.000000  326.820007  319.380005  324.880005   6054700   HD
 2022-11-23  326.760010  327.820007  320.440002  321.510010   4243400   HD
 2022-11-25  322.890015  329.079987  321.899994  326.380005   3393500   HD
 2022-11-28  325.059998  328.799988  317.850006  318.920013   4733700   HD
 2022-11-29  316.000000  320.000000  315.619995  315.959991   3504400   HD

 [3755 rows x 6 columns],
                   Open        High         Low       Close   Volume tick
 Date
 2008-01-02   41.529036   41.529036   40.313945   40.435455  4365569  HON
 2008-01-03   40.489468   40.820240   40.219448   40.637978  3571018  HON
 2008-01-04   40.212678   40.617705   39.233854   39.341862  6237770  HON
 2008-01-07   39.503889   39.706404   38.390058   39.206867  5873483  HON
 2008-01-08   39.362129   39.483639   38.477815   38.538570  5551887  HON
 ...                ...         ...         ...         ...      ...  ...
 2022-11-22  217.130005  219.009995  217.000000  218.759995  2516400  HON
 2022-11-23  218.789993  220.679993  218.300003  218.910004  2686700  HON
 2022-11-25  217.740005  220.960007  217.740005  220.050003  1119900  HON
 2022-11-28  219.699997  220.210007  215.470001  215.770004  2642600  HON
 2022-11-29  215.919998  217.419998  215.179993  216.720001  2101700  HON

 [3755 rows x 6 columns],
                   Open        High         Low       Close    Volume tick
 Date
 2008-01-02   64.473485   64.473485   61.622198   61.929806   9940661  IBM
 2008-01-03   62.012629   62.450380   61.509806   62.054035   7875229  IBM
 2008-01-04   61.492081   61.492081   59.439388   59.823898  11542192  IBM
 2008-01-07   59.303318   59.746984   58.581620   59.185005  13232318  IBM
 2008-01-08   59.184985   59.380200   57.481312   57.729763   9868382  IBM
 ...                ...         ...         ...         ...       ...  ...
 2022-11-22  147.600006  149.350006  147.020004  149.100006   7062100  IBM
 2022-11-23  149.100006  150.460007  148.300003  148.750000   3658200  IBM
 2022-11-25  148.270004  149.490005  148.100006  148.369995   2075200  IBM
 2022-11-28  147.979996  148.240005  145.940002  146.179993   3538100  IBM
 2022-11-29  145.910004  147.169998  145.699997  146.490005   2753200  IBM

 [3755 rows x 6 columns],
                  Open       High        Low      Close     Volume  tick
 Date
 2008-01-02  16.611052  16.648977  15.770387  16.023218   84278800  INTC
 2008-01-03  16.035869  16.054830  15.410109  15.593412   85190500  INTC
 2008-01-04  14.828593  14.917085  14.126985  14.329250  174093400  INTC
 2008-01-07  14.411421  14.556800  14.133307  14.461987  112063700  INTC
 2008-01-08  14.487268  14.620004  14.051132  14.070095   80520800  INTC
 ...               ...        ...        ...        ...        ...   ...
 2022-11-22  29.139999  29.860001  29.059999  29.820000   25584100  INTC
 2022-11-23  29.730000  30.080000  29.490000  29.670000   23143900  INTC
 2022-11-25  29.680000  29.680000  29.340000  29.340000   11314900  INTC
 2022-11-28  29.100000  29.190001  28.540001  28.730000   28267900  INTC
 2022-11-29  28.850000  29.180000  28.740000  28.900000   24344200  INTC

 [3755 rows x 6 columns],
                   Open        High         Low       Close    Volume tick
 Date
 2008-01-02   42.851797   43.135074   42.311002   42.433327  11970500  JNJ
 2008-01-03   42.330316   42.748791   42.079231   42.446201   9277600  JNJ
 2008-01-04   42.310987   42.748776   42.310987   42.388241  12714800  JNJ
 2008-01-07   42.336754   43.270272   42.330315   43.044941  12352700  JNJ
 2008-01-08   43.167266   43.617929   42.877550   43.096447  13478500  JNJ
 ...                ...         ...         ...         ...       ...  ...
 2022-11-22  176.399994  177.190002  176.330002  176.820007   4707900  JNJ
 2022-11-23  176.440002  177.399994  176.009995  177.009995   5389200  JNJ
 2022-11-25  177.380005  178.119995  176.860001  177.240005   3058600  JNJ
 2022-11-28  176.750000  177.770004  176.559998  177.330002   6183100  JNJ
 2022-11-29  177.009995  177.259995  174.660004  176.089996   6700100  JNJ

 [3755 rows x 6 columns],
                  Open       High        Low      Close    Volume tick
 Date
 2008-01-02  19.442804  19.483936  19.214995  19.328899  15453800   KO
 2008-01-03  19.354205  19.648457  19.322565  19.531389  13902600   KO
 2008-01-04  19.515577  19.841469  19.512412  19.569365  18027400   KO
 2008-01-07  19.648462  20.072438  19.585183  20.031307  23782000   KO
 2008-01-08  20.119896  20.376180  20.031304  20.113567  20883200   KO
 ...               ...        ...        ...        ...       ...  ...
 2022-11-22  62.470001  62.500000  62.049999  62.349998  12319600   KO
 2022-11-23  62.490002  62.790001  62.299999  62.630001   8990400   KO
 2022-11-25  62.730000  62.810001  62.380001  62.689999   5165500   KO
 2022-11-28  62.689999  63.099998  62.560001  62.700001  12267500   KO
 2022-11-29  62.520000  62.570000  61.980000  62.480000  10967800   KO

 [3755 rows x 6 columns],
                   Open        High         Low       Close    Volume tick
 Date
 2008-01-02   29.878328   30.042986   28.814920   28.931551  22122300  JPM
 2008-01-03   29.048187   29.260869   28.650265   28.732595  17150700  JPM
 2008-01-04   28.410141   28.677708   27.875007   28.080828  25873800  JPM
 2008-01-07   28.197469   28.526785   27.552565   28.362127  25644100  JPM
 2008-01-08   28.444449   28.526779   27.044866   27.236967  33646000  JPM
 ...                ...         ...         ...         ...       ...  ...
 2022-11-22  134.000000  135.270004  133.690002  135.039993   9185700  JPM
 2022-11-23  134.940002  136.500000  134.860001  136.479996   7316200  JPM
 2022-11-25  136.479996  137.139999  136.059998  136.740005   3220500  JPM
 2022-11-28  136.070007  136.710007  134.190002  134.350006   9906900  JPM
 2022-11-29  134.660004  136.639999  134.410004  136.559998   7923700  JPM

 [3755 rows x 6 columns],
                   Open        High         Low       Close    Volume tick
 Date
 2008-01-02   38.888750   38.888750   37.849188   37.986488   7858300  MCD
 2008-01-03   38.182636   38.444159   37.751120   37.875343   6514700  MCD
 2008-01-04   37.483049   37.574583   36.894617   37.299980   9687500  MCD
 2008-01-07   37.502655   38.084548   37.182286   37.940708  10784500  MCD
 2008-01-08   38.208785   38.339548   37.241144   37.319603  10080800  MCD
 ...                ...         ...         ...         ...       ...  ...
 2022-11-22  275.000000  275.299988  274.299988  274.760010   2770400  MCD
 2022-11-23  275.549988  275.649994  272.880005  273.269989   2514800  MCD
 2022-11-25  274.510010  275.320007  272.859985  275.000000   1596600  MCD
 2022-11-28  274.880005  275.940002  272.380005  272.880005   3160500  MCD
 2022-11-29  271.000000  271.920013  269.470001  271.410004   2873500  MCD

 [3755 rows x 6 columns],
                   Open        High         Low       Close   Volume tick
 Date
 2008-01-02   54.843372   55.181914   53.534791   53.847286  4453700  MMM
 2008-01-03   53.918912   54.348599   53.625947   53.840786  2724100  MMM
 2008-01-04   53.385061   53.814748   53.092096   53.228813  3620300  MMM
 2008-01-07   53.450155   53.482709   52.584274   52.805630  4223800  MMM
 2008-01-08   52.961866   53.430614   52.148070   52.219685  5711200  MMM
 ...                ...         ...         ...         ...      ...  ...
 2022-11-22  128.149994  128.669998  127.320000  128.600006  1757100  MMM
 2022-11-23  128.589996  129.119995  127.239998  128.000000  2349700  MMM
 2022-11-25  128.880005  129.820007  128.520004  129.039993   882400  MMM
 2022-11-28  128.110001  128.580002  124.120003  124.639999  2773500  MMM
 2022-11-29  124.080002  126.339996  124.010002  126.129997  1863100  MMM

 [3755 rows x 6 columns],
                   Open        High         Low       Close    Volume tick
 Date
 2008-01-02   32.429653   32.630423   31.844080   31.994656  12287276  MRK
 2008-01-03   32.039253   32.312520   31.844062   31.966753   8831810  MRK
 2008-01-04   31.760401   32.039247   31.648865   31.704632  10469625  MRK
 2008-01-07   31.838499   32.580227   31.760423   32.301384  11874783  MRK
 2008-01-08   32.396186   33.846178   32.357147   33.271759  21523824  MRK
 ...                ...         ...         ...         ...       ...  ...
 2022-11-22  106.129997  107.099998  106.050003  106.900002   8295700  MRK
 2022-11-23  106.750000  107.300003  106.300003  106.820000   5749600  MRK
 2022-11-25  106.559998  107.500000  106.559998  107.500000   3163700  MRK
 2022-11-28  107.129997  108.900002  107.129997  108.449997   9524500  MRK
 2022-11-29  108.000000  109.059998  107.550003  108.839996   9352400  MRK

 [3755 rows x 6 columns],
                   Open        High         Low       Close    Volume  tick
 Date
 2008-01-02   26.274270   26.399069   25.694312   25.855820  63004200  MSFT
 2008-01-03   25.855808   26.171482   25.591524   25.965925  49599600  MSFT
 2008-01-04   25.833789   25.841132   25.026255   25.239151  72090800  MSFT
 2008-01-07   25.363953   25.547483   25.143716   25.408001  80164300  MSFT
 2008-01-08   25.481411   25.481411   24.519712   24.556417  79148300  MSFT
 ...                ...         ...         ...         ...       ...   ...
 2022-11-22  243.589996  245.309998  240.710007  245.029999  19665700  MSFT
 2022-11-23  245.110001  248.279999  244.270004  247.580002  19508500  MSFT
 2022-11-25  247.309998  248.699997  246.729996  247.490005   9200800  MSFT
 2022-11-28  246.080002  246.649994  240.800003  241.759995  24778200  MSFT
 2022-11-29  241.399994  242.789993  238.210007  240.330002  17948900  MSFT

 [3755 rows x 6 columns],
                   Open        High         Low       Close    Volume tick
 Date
 2008-01-02   13.339365   13.418173   13.003392   13.123678   9781600  NKE
 2008-01-03   13.123677   13.221151   12.937026   13.005465  10636000  NKE
 2008-01-04   12.907994   13.040724   12.796003   12.804298  22335200  NKE
 2008-01-07   12.858216   12.924581   12.713042   12.881029  20808400  NKE
 2008-01-08   12.941172   13.061459   12.762816   12.822960  16714400  NKE
 ...                ...         ...         ...         ...       ...  ...
 2022-11-22  104.620003  106.160004  103.839996  105.970001   5313200  NKE
 2022-11-23  106.000000  106.980003  105.230003  106.650002   3873100  NKE
 2022-11-25  106.449997  107.180000  105.559998  105.959999   3426100  NKE
 2022-11-28  105.250000  106.300003  104.650002  104.959999   6967400  NKE
 2022-11-29  105.370003  106.820000  105.120003  106.250000   8492800  NKE

 [3755 rows x 6 columns],
                   Open        High         Low       Close    Volume tick
 Date
 2008-01-02   47.247624   47.247624   46.143322   46.425816  12255300   PG
 2008-01-03   46.490023   47.080698   46.226785   46.425816  11162800   PG
 2008-01-04   46.034164   46.862395   46.034164   46.239616  10049000   PG
 2008-01-07   46.380876   46.656953   46.162585   46.541386  11916000   PG
 2008-01-08   46.676218   47.388882   46.226793   46.663380  17169100   PG
 ...                ...         ...         ...         ...       ...  ...
 2022-11-22  145.429993  145.789993  144.839996  145.619995   5372900   PG
 2022-11-23  145.899994  146.630005  145.570007  146.449997   4296000   PG
 2022-11-25  146.789993  147.199997  146.399994  146.720001   2411100   PG
 2022-11-28  146.389999  147.339996  146.139999  146.600006   6628200   PG
 2022-11-29  145.750000  146.059998  144.529999  145.479996   5633500   PG

 [3755 rows x 6 columns],
                   Open        High         Low       Close   Volume tick
 Date
 2008-01-02   37.233774   37.261530   36.179071   36.331726  2341400  TRV
 2008-01-03   36.331721   37.004789   36.303965   36.817440  2098800  TRV
 2008-01-04   36.512125   36.817436   35.617018   35.658649  3048900  TRV
 2008-01-07   35.936202   36.505186   35.401912   36.109673  3130300  TRV
 2008-01-08   36.220692   36.519062   34.846804   35.006397  4684600  TRV